@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { 
  display: none !important; 
}

.hero-overlay {
  @apply absolute inset-0;
  backdrop-filter: blur(4px);
}

/* Styles pour le player audio */
audio {
  @apply h-10;
}

audio::-webkit-media-controls-panel {
  @apply bg-base-200;
}

audio::-webkit-media-controls-play-button {
  @apply text-primary;
}

/* Toast notification */
.toast-notification {
  @apply fixed bottom-20 left-1/2 -translate-x-1/2 px-4 py-2 rounded-lg bg-primary text-primary-content;
  @apply transform transition-all duration-300;
  @apply opacity-0 translate-y-full;
  @apply shadow-lg;
  z-index: 70; /* Ajout de cette ligne pour être au-dessus de la modal (z-60) */
}

.toast-notification.show {
  @apply opacity-100 translate-y-0;
}
